{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
            "safari": 9,
            "chrome": 40,
          },
          "modules": false,
          "useBuiltIns": false,
          "debug": true
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime", {
        "regenerator": true,
        //"corejs": 3,
      }]
    ]  
}
